include ../mixins/headerLink.jade

#header
  a#header-title(href="/")
    span= settings.ApplicationSettings.title
    span.logo
      include ../../public/images/logo.svg    
  #header-menu
    +headerLink('Blog', '/')
    if settings.ApplicationSettings['menu:dataViz']
      +headerLink('DataViz', settings.ApplicationSettings['menu:dataViz'])
    +headerLink('Projects', '/projects')
    if settings.ApplicationSettings['menu:resume']
      +headerLink('Résumé', settings.ApplicationSettings['menu:resume'])
    +headerLink('Contact Me', '/contact')
    
  