#login-buttons
    a#facebook-button(href="/auth/facebook")
      img(src="/images/facebook-login-button.png")
      .overlay
    span.button-spacer
    a#google-button(href="/auth/google")
      img(src="/images/google-login-button.png")
      .overlay
    