h1= settings.ApplicationSettings.sidebarTitle

#sidebar-photo-div
  a(href="#{settings.ApplicationSettings.sidebarPhotoUrl}")
    img#sidebar-photo(src="#{settings.ApplicationSettings.sidebarPhotoUrl}")

#sidebar-info= settings.ApplicationSettings.sidebarInfo