h1= settings.applicationSettings.sidebarTitle

#sidebar-photo-div
  a(href="#{settings.applicationSettings.sidebarPhotoUrl}")
    img#sidebar-photo(src="#{settings.applicationSettings.sidebarPhotoUrl}")

#sidebar-info= settings.applicationSettings.sidebarInfo