include ../mixins/topbarLink.jade
  
#topbar
  #topbar-content
    #topbar-content-right
      if locals.user
        .topbar-div Hello, #{user.displayName}!
        +topbarLink('User Settings', '/user/' + '#{user.id}')
        +topbarLink('Logout', '/logout')
      else 
        +topbarLink('Login', '/login')
    #topbar-content-left      
      +topbarLink('Post', '/post')
      +topbarLink('User Management', '/user')
      +topbarLink('Application Settings', '/application-settings')

