include ../mixins/topbarLink.jade
  
#topbar
  #topbar-content
    #topbar-content-right
      +topbarLink('Login', '/login')
      +topbarLink('Logout', '/logout')
      +topbarLink('sadfsa', '/asdf')
    #topbar-content-left
      +topbarLink('New', 'random')
      +topbarLink('Old', 'asfs')
      +topbarLink('sadfs', 'sadfsa')

