.DS_Store
node_modules
npm-debug.log
config/google.json
config/smtp.json
config/sweetCaptcha.json
config/facebook*.json
public/*.html
public/javascripts/editorHelpHtml.js
public/javascripts/markdownBundle.js
public/javascripts/markdownBundle-min.js
public/javascripts/encryptPasswordBundle.js
public/javascripts/encryptPasswordBundle-min.js