doctype html
html
  head
    title= locals.title ? title + ' - ' + settings.ApplicationSettings.title : settings.ApplicationSettings.title
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/highlight.js.css")
  body
    include ./includes/topbar.jade
    #container
      include ./includes/header.jade
      #content
        #right-sidebar
          include ./includes/rightSidebar.jade
        #mainbar
          h1= title
          include ./includes/flash.jade
          block content
    script(src="/javascripts/markdownBundle-min.js")

    
    