doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include ./includes/topbar.jade
    #container
      include ./includes/header.jade
      #content
        #right-sidebar
          include ./includes/rightSidebar.jade
        #mainbar
          block content

    
    