extends layout

block content
  script
    include ../public/javascripts/encryptPasswordBundle-min.js
  form#login-form(action="/login", method="POST", onsubmit="return encryptPassword(this);")
    input.text(type="text", name="email", placeholder="Email")
    br
    input.text.encrypt(type="password", name="password", placeholder="Password")
    br
    button.submit-button(type="submit") Login
      .overlay
  include ./includes/loginButtons.jade
  br
  p
    | Don't have an account? 
    a(href='/register') Register here
    | .
  
