extends layout

block content
  form#login-form(action="/login", method="POST")
    input.text(type="text", name="email", placeholder="Email")
    br
    input.text(type="password", name="password", placeholder="Password")
    br
    input(type="submit", value="Login")
  #login-buttons
    a(href="/auth/facebook")
      img(src="/images/facebook-login-button.png")
      .overlay
  
