include ./mixins/fieldsetFilled.jade
  
extends layout
  
block content
  form#post-form(method="POST", action="/post")
    .wmd-panel
      +fieldsetFilled('title', 'Title', 'Enter a title here')
      #wmd-button-bar
      textarea#wmd-input.wmd-input    
    h2 Post Preview
    #wmd-preview.wmd-panel.wmd-preview
    +fieldsetFilled('tags', 'Tags', 'Enter a tags here separated by commas')
    input.submit-button(type="submit" value="Post")
    
    