include ./mixins/fieldsetFilled.jade
  
extends layout
  
block content
  form#post-form(method="POST", action="/post")
    .wmd-panel
      +fieldsetFilled('title', 'Title', 'Enter a title here')
      #wmd-button-bar.wmd-button-bar
      #wmd-editor.wmd-editor.tex2jax_ignore
      textarea(name="body")#wmd-input.wmd-input
    h2#wmd-preview-title
    #wmd-preview.wmd-panel.wmd-preview
    .wmd-panel
      +fieldsetFilled('tags', 'Tags', 'Enter tags here separated by commas')
    input.submit-button(type="submit" value="Post")
  // maybe move this script somewhere else later
  script.
    document.querySelector('#post-form input[name="title"]').addEventListener('keydown', disableEnterSubmit, false);
    document.querySelector('#post-form input[name="tags"]').addEventListener('keydown', disableEnterSubmit, false);
    function disableEnterSubmit(event) { if (event.keyCode === 13) event.preventDefault(); }