extends ../layout
  
block content
  form#registration-form(method="POST", onsubmit="return false;")
    h2 Update User Settings
    include ../includes/userSettings.jade
  script
    include ../../public/javascripts/encryptPasswordBundle-min.js
  script.
    // user existence
    var currentDisplayName = '#{temporaryUser.displayName}';
    var displayNameInput = document.querySelector('input[name="displayName"]');
    var displayNameField = displayNameInput.parentNode;
    var displayNameLabel = displayNameField.querySelector('span.field-sublabel');
    var userExistsRequest = new XMLHttpRequest();
    userExistsRequest.responseType = 'json';
    userExistsRequest.addEventListener('load', function(event) {
      if (userExistsRequest.response.error) {
        displayNameLabel.textContent = 'this username is available';
        displayNameLabel.classList.remove('error');
        displayNameLabel.classList.add('success');
      } else if (userExistsRequest.response.displayName === currentDisplayName) {
        displayNameLabel.textContent = 'required, must be from 1 to 64 characters';
        displayNameLabel.classList.remove('success');
        displayNameLabel.classList.remove('error');
      } else {
        displayNameLabel.textContent = 'this username is already taken';
        displayNameLabel.classList.remove('success');
        displayNameLabel.classList.add('error');
      }
    }, false);
    displayNameInput.addEventListener('input', function(event) {
      if (this.value) {
        userExistsRequest.abort();
        userExistsRequest.open('GET', '/user/' + this.value);
        userExistsRequest.setRequestHeader('Accept', 'application/json');
        userExistsRequest.send();        
      } else {
        displayNameLabel.textContent = 'required, must be from 1 to 64 characters';
        displayNameLabel.classList.remove('success');
        displayNameLabel.classList.remove('error');
      }
    });
    
    // updating
    var submitButton = document.querySelector('.submit-button');
    var updateRequest = new XMLHttpRequest();
    updateRequest.responseType = 'json';
    updateRequest.addEventListener('load', function() {
      if (this.response.error) {
        flash(this.response.error, {reset: true, className: 'error'});
      } else if (this.response.success) {
        if (this.response.message) flash(this.response.message, {reset: true, className: 'info'});
      }
      submitButton.disabled = false;
      if (this.response.redirect) window.location.href = this.response.redirectLink;
    });
    submitButton.addEventListener('click', function() {
      submitButton.disabled = true;
      updateRequest.abort();
      updateRequest.open('PUT', window.location.pathname);
      updateRequest.setRequestHeader('Accept', 'application/json');
      updateRequest.setRequestHeader('Content-Type', 'application/json');
      encryptPassword(document.getElementById('registration-form'));
      var data = {};
      ['givenName', 'middleName', 'familyName', 'displayName', 'email',
       'oldPassword', 'password', 'passwordConfirmation',
       'photoUrl', 'biography'].forEach(function(k) {
        data[k] = getValue(k);
      });
      setValue('oldPassword', '');
      setValue('password', '');
      setValue('passwordConfirmation', '');
      updateRequest.send(JSON.stringify(data));
      return false;
      function getValue(name) {
        if (name === 'biography') {
          var textarea = document.querySelector('textarea[name="' + name + '"]');
          return textarea.value;
        }
        var input = document.querySelector('input[name="' + name + '"]');
        return input.value;
        
      }
      function setValue(name, value) {
        if (name === 'biography') {
          var textarea = document.querySelector('textarea[name="' + name + '"]');
          textarea.value = value;
          return true;
        }
        var input = document.querySelector('input[name="' + name + '"]');
        input.value = value;
        return true;     
      }
    });
    submitButton.disabled = false;
    // email verification
    var emailInput = document.querySelector('input[name="email"]');
    var emailField = emailInput.parentNode;
    var emailLabel = emailField.querySelector('span.field-sublabel');
    var emailButton = emailLabel.querySelector('button');
    var emailVerifyRequest = new XMLHttpRequest();
    emailVerifyRequest.responseType = 'json';
    emailVerifyRequest.addEventListener('load', function() {
      if (this.response.error) {
        flash(this.response.error, {reset: true, className: 'error'});
      } else if (this.response.success) {
        flash(this.response.message, {reset: true, className: 'info'});
      }
      emailButton.disabled = false;
    });
    emailButton.addEventListener('click', function() {
      if (emailInput.value) {
        emailButton.disabled = true;
        emailVerifyRequest.abort();
        emailVerifyRequest.open('POST', '/user/verify/' + encodeURIComponent(currentDisplayName));
        emailVerifyRequest.setRequestHeader('Accept', 'application/json');
        emailVerifyRequest.setRequestHeader('Content-Type', 'application/json');
        emailVerifyRequest.send(JSON.stringify({email: emailInput.value}));
      }
    });
    emailButton.disabled = false;

    function flash(messages, options) {
      options = options || {};
      var reset = options.reset || false;
      var className = options.className || false;
      var flashBox = document.getElementById('flash');
      if (!flashBox) {
        flashBox = document.createElement('div');
        flashBox.id = 'flash';
        var mainbar = document.getElementById('mainbar');        
        mainbar.insertBefore(flashBox, document.getElementById('registration-form'));        
      }
      if (reset) flashBox.innerHTML = '';
      var messageList = flashBox.querySelector('li') || document.createElement('ul');
      if (typeof messages === 'string') {
        var li = document.createElement('li');
        li.textContent = messages;
        if (className) li.classList.add(className);
        messageList.appendChild(li);
      } else if (Array.isArray(messages)) {
        messages.forEach(function(message) {
          var li = document.createElement('li');
          li.textContent = message;
          if (className) li.classList.add(className);
          messageList.appendChild(li);
        });
      }
      flashBox.appendChild(messageList);
    }
  