extends ../layout
  
block content
  form#registration-form(method="POST", onsubmit="return false;")
    h2 Update User Settings
    include ../includes/userSettings.jade
append body
  script
    include ../../public/javascripts/encryptPasswordBundle-min.js
  script
    include ../../public/javascripts/flash.js
  script.        
    // updating
    var submitButton = document.querySelector('.submit-button');
    var updateRequest = new XMLHttpRequest();    
    updateRequest.addEventListener('load', function() {
      var response = typeof this.response === 'string' ? JSON.parse(this.response) : this.response;
      if (response.error) {
        flash(response.error, {reset: true, className: 'error'});
      } else if (response.success) {
        if (response.message) flash(response.message, {reset: true, className: 'info'});
      }
      submitButton.removeAttribute('disabled');
      if (response.redirect) window.location.href = response.redirectLink;
    });
    submitButton.addEventListener('click', function() {
      submitButton.disabled = true;
      updateRequest.abort();
      updateRequest.open('PUT', window.location.pathname);
      updateRequest.setRequestHeader('Accept', 'application/json');
      updateRequest.setRequestHeader('Content-Type', 'application/json');
      updateRequest.responseType = 'json';
      encryptPassword(document.getElementById('registration-form'));
      var data = {};
      ['givenName', 'middleName', 'familyName', 'displayName', 'email',
       'oldPassword', 'password', 'passwordConfirmation',
       'photoUrl', 'biography'].forEach(function(k) {
        data[k] = getValue(k);
      });
      setValue('oldPassword', '');
      setValue('password', '');
      setValue('passwordConfirmation', '');
      updateRequest.send(JSON.stringify(data));
      return false;
      function getValue(name) {
        if (name === 'biography') {
          var textarea = document.querySelector('textarea[name="' + name + '"]');
          return textarea.value;
        }
        var input = document.querySelector('input[name="' + name + '"]');
        return input.value;        
      }
      function setValue(name, value) {
        if (name === 'biography') {
          var textarea = document.querySelector('textarea[name="' + name + '"]');
          textarea.value = value;
          return true;
        }
        var input = document.querySelector('input[name="' + name + '"]');
        input.value = value;
        return true;     
      }
    });
    submitButton.disabled = false;
    // email verification
    var emailInput = document.querySelector('input[name="email"]');
    var emailField = emailInput.parentNode;
    var emailLabel = emailField.querySelector('span.field-sublabel');
    var emailButton = emailLabel.querySelector('button');
    var emailVerifyRequest = new XMLHttpRequest();    
    emailVerifyRequest.addEventListener('load', function() {
      var response = typeof this.response === 'string' ? JSON.parse(this.response) : this.response;
      if (response.error) {
        flash(response.error, {reset: true, className: 'error'});
      } else if (response.success) {
        flash(response.message, {reset: true, className: 'info'});
      }
      emailButton.disabled = false;
    });
    emailButton.addEventListener('click', function() {
      if (emailInput.value) {
        emailButton.disabled = true;
        emailVerifyRequest.abort();
        emailVerifyRequest.open('POST', '/user/verify/' + encodeURIComponent(currentDisplayName));
        emailVerifyRequest.setRequestHeader('Accept', 'application/json');
        emailVerifyRequest.setRequestHeader('Content-Type', 'application/json');
        emailVerifyRequest.responseType = 'json';
        emailVerifyRequest.send(JSON.stringify({email: emailInput.value}));
      }
    });
    emailButton.disabled = false;

  