body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 100%;
  color: #222;
  min-width: 1200px;
  background: #fff url(../images/cutcube.png) repeat top left;
  margin: 0px;
  margin-bottom: 32px;
}

a {
  color: #145d8a;
}

fieldset {
  text-align: right;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

input {
  line-height: 1.5em;
  margin-left: 10px;
}

#flash {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #003b52;
  border-radius: 10px;
  padding: 10px;  
}

#flash .error {
  color: #d02027;
}

dl, dd, dt, ul, ol {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;  
  margin-bottom: 0px;  
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;  
  margin-bottom: 0px;  
}

#topbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.85);  
}

#topbar-content {
  width: 1200px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(224, 224, 224);
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#topbar-content-left { 
  float: left; 
} 

.topbar-link-div, .topbar-div {  
  display: inline-block;
}

.topbar-div {
  padding-left: 10px;
  padding-right: 10px;
}

.topbar-div.logo svg {
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  margin-right: -10px;
}

.topbar-link-div:hover {  
  background: rgba(254, 254, 254, 0.5);  
}

a.topbar-link {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(224, 224, 224);
  text-decoration: none;  
}

#header-title {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  font-size: 400%;  
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

#header {
  text-align: center;
}

#header a {
  color: #003b52;
}

#header .logo svg {
  width: 70px;
  height: 70px;
  margin-bottom: -14px;
  margin-left: 20px;  
}

#header-menu {
  align: bottom;
}

.header-link-div {
  display: inline-block;
  line-height: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

a.header-link  {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 125%;
}

a.header-link:hover {
  color: #d02027;
  outline: 2px solid #d02027;
}


#container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  background: rgba(254, 254, 254, 0.75);
  border: 1px solid rgba(77, 175, 74, 0.75);
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 28px;
  margin: 0px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content blockquote {  
  margin: 0px;
  padding: 5px;
  padding-left: 28px;
}

#content pre, #content p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;  
}

.wmd-panel img {
  max-width: 400px;
  max-height: 600px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #003b52;
}

h2#wmd-preview-title {
  padding-top: 20px;
}

#mainbar {
  width: 805px;
  min-height: 800px;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  border-right: 1px solid rgba(34, 34, 34, 0.25);
}

#right-sidebar {
  width: 295px;
  float: right;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

#sidebar-photo-div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar-photo { 
  width: 275px;
  border: 2px solid #222;
}

textarea#wmd-input {
  font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono", "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", monospace;
  font-size: 100%;
  margin-top: 8px;
  display: none;
  width: 100%;
  max-width: 100%;
  height: 300px;
}

#wmd-editor { 
  font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono", "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", monospace;
  font-size: 100%;
  width: 100%;
  max-width: 100%;
  height: 300px;
  outline: 1px solid #999;
}


#wmd-editor.focused {
  outline: 3px solid rgb(112,154,192);
}

.wmd-panel {
  width: 98%;
}

.wmd-button-row {
  position: relative; 
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;  
  height: 20px;
}

.wmd-button-bar {
  width: 100%;
  margin-bottom: 18px;
}

.wmd-spacer {
  width: 1px; 
  height: 20px; 
  margin-left: 14px;  
  position: absolute;
  background-color: Silver;
  display: inline-block; 
  list-style: none;
}

.wmd-spacer1 {
  left: 50px;
}

.wmd-spacer2 {
  left: 175px;
}

.wmd-spacer3 {
  left: 300px;
}

.wmd-spacer4 {
  left: 370px;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button-bar .wmd-select {
  font-size: 90%;
  margin-top: -4px;
}

.wmd-select {
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
}

.wmd-button > span {
  background-image: url(../images/wmd-buttons.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-prompt-background {
  background-color: black;
}

.wmd-prompt-dialog {
  border: 1px solid #999;
  background-color: #f5f5f5;
  padding: 20px;
}

/* tables */
.wmd-preview table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.wmd-preview td, .wmd-preview th {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.wmd-preview th {
  border-bottom: 1px solid #222;
}

#post-form label {
  font-weight: bold;  
  padding-top: 3px;
}


#post-form .text-input {
  width: 90%;
  font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono", "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", monospace;
  font-size: 100%;
}

.submit-button {
  cursor: pointer;
  background: #0b2844;
  color: #fff;
  font-size: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#login-form {
  padding: 10px;
}

#login-form input  {
  line-height: 1.5em;
  margin-top: 2px;
  margin-bottom: 2px;
}

#login-form input.text {
  width: 200px;
}

#login-buttons a {  
  cursor: pointer;  
  display: inline-block;
  position: relative; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.3);
  display: none;
}

#login-buttons a:hover .overlay {
  display: block;
}

.dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}





.overlay form.editor-dialog-box {
  border: 1px solid #222;
  background-color: #fefefe;
  border-radius: 20px;
  padding: 20px;
}

.overlay form.editor-dialog-box input {
  width: 270px;
}

.overlay form.editor-dialog-box fieldset {
  text-align: right;
}

.overlay form.editor-dialog-box .button-box {
  text-align: right;
}

.overlay form.editor-dialog-box button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


