mixin shareButtons(href, title)
  .share-div.twitter
    a.twitter-share-button(href="http://twitter.com/intent/tweet?url=" + encodeURIComponent(href) + "&text=" + encodeURIComponent(title)) Tweet
  .share-div.spacer
  .share-div.facebook
    .fb-like(data-href=href, data-layout="standard", data-action="like", data-show-faces="false", data-share="true")
  