include ../mixins/postView.jade
  
extends ../layout

block content
  if posts.length === 0
    h2 No one has posted yet!
  each post, idx in posts
    +postView(post)
    if (idx < posts.length - 1)
      hr.post